[Unit]
Description=Ski Tripper - PocketBase
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=ski-tripper
Group=ski-tripper
ExecStart=/usr/local/bin/pocketbase serve --http 127.0.0.1:8090 --migrationsDir /opt/ski-tripper/pb_migrations --dir /var/lib/ski-tripper/pb_data --automigrate=0
WorkingDirectory=/opt/ski-tripper
StateDirectory=ski-tripper
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target