PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
PUBLIC_APPWRITE_PROJECT_ID=your-project-id
PUBLIC_APPWRITE_DATABASE_ID=your-database-id
PUBLIC_APPWRITE_TRIPS_COLLECTION_ID=your-trips-collection-id
PUBLIC_APPWRITE_PARTICIPANTS_COLLECTION_ID=your-trips-participants-id
PUBLIC_APPWRITE_POLLS_COLLECTION_ID=your-polls-collection-id
PUBLIC_APPWRITE_VOTES_COLLECTION_ID=your-votes-collection-id
APPWRITE_API_KEY=your-api-key
