.DS_Store
.*.bun-build
.env
.env.*.local
.env.local
.env.production
node_modules/
dist/
dev/
tools/data/resorts/ski_areas.csv
tools/data/resorts/lifts.csv
tools/data/resorts/runs.csv
tools/data/resorts/thinking/
*.tar
