.DS_Store
/e2e/test-results/
/e2e/playwright-report/
.*.bun-build
.env
.env.keys
.env.local
.env.*.local
node_modules/
dist/
dev/pb_data/
tools/data/resorts/ski_areas.csv
tools/data/resorts/lifts.csv
tools/data/resorts/runs.csv
tools/data/resorts/thinking/
*.tar
e2e/snapshots/
