{$PUBLIC_DOMAIN} {
	log

	handle /api/* {
		reverse_proxy {$SERVER_HOSTNAME}:{$SERVER_PORT}
	}

	handle {
		root * {$STATIC_ROOT}
		file_server
		try_files {path} /index.html
	}
}

{$PUBLIC_POCKETBASE_DOMAIN} {
	log

	reverse_proxy {$POCKETBASE_HOSTNAME}:{$POCKETBASE_PORT}
}
